+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="👏 欢迎来到 Evabase 文档世界!" image_anchor="top" height="full" color="orange">}}
	<div class="mx-auto">
		<p class="lead" style="text-shadow: 1px 1px 2px #403f4c;margin-top: -30px;">像乐高一样和 web3 应用交互</p>
		<a class="btn btn-lg btn-primary mt-5 mr-3 mb-4" href="{{< relref " /guides">}}">
			学习更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
		<a class="btn btn-lg btn-secondary mt-5 mr-3 mb-4" href="https://app.evabase.xyz">
			进入 App <i class="fab fa-medapps ml-2 "></i>
		</a>
		<!-- {{< blocks/link-down color="info">}} -->
	</div>
	{{< /blocks/cover>}}


		{{% blocks/lead color="primary" %}}
		Evabase 是智能合约策略自动化平台，提供丰富的 web3 交互脚本供用户像拼接积木一样组合使用。
		{{% /blocks/lead %}}
		{{< blocks/section color="">}}

			{{% blocks/feature icon="fa-lightbulb" title="脚本丰富" %}}
			Evabase 内置大量高需求 web3 交互脚本积木，免费使用！
			{{% /blocks/feature %}}
			{{% blocks/feature icon="fas fa-eye-dropper" title="可视化" %}}
			可视化操作 web3 交互脚本积木。
			{{% /blocks/feature %}}
			{{% blocks/feature icon="fas fa-robot" title="自动化" %}}
			零服务器搭建成本，Evabase 帮您按需自动执行智能合约。
			<i class="fa-light fa-gas-pump-slash"></i>
			<i class="fa-regular fa-gas-pump-slash"></i>
			{{% /blocks/feature %}}
			{{< /blocks/section>}}

				{{< blocks/section>}}
					{{% blocks/feature icon="fab fa-app-store-ios" title="立即使用" %}}
					立即打开 [Evabase App](https://app.evabase.net) 网站
					{{% /blocks/feature %}}
					{{% blocks/feature icon="fab fa-github" title="欢迎参与!" %}}
					欢迎任何人参与，只需要 [提交](https://github.com/evabase/docs.evabase.xyz/pulls) 内容到**GitHub**，接收提交后就会自动在网站中显示。
					{{% /blocks/feature %}}
					{{% blocks/feature icon="fab fa-twitter" title="关注我们！" %}}
					关注我们的[推特](https://twitter.com/evabasexyz)，获取Eavabase最新功能，新闻。
					{{% /blocks/feature %}}
					{{< /blocks/section>}}